@tailwind base;
@tailwind components;
@tailwind utilities;
.black-overlay{
   background-color: rgba(0, 0, 0, 0.7);
}
.image-overlay {
   background: linear-gradient(to bottom, #ffffff1b 60%, #000000);
}


.container-help{
   display: grid;
   grid-template-columns: 1fr 4fr;
}
.slider{
   scrollbar-width: none;
}
@media (max-width:450px) {
   .header-visibility{
      display: none;
   }
}